<div class="row">
  <div class="col-md-2 text-white bg-dark side-menu">
      <div class="nav flex-column nav-pills">
          <a class="nav-link" [routerLink]="['/admin/resume']">Home</a>
          <a class="nav-link" [routerLink]="['/admin/courses']">Cursos</a>
          <a class="nav-link" [routerLink]="['/admin/users']">Alumnos</a>
          <a class="nav-link" [routerLink]="['/admin']">Settings</a>
        </div>
  </div>
  <div class="col-md-10 info">
    <router-outlet></router-outlet>
  </div>
 
</div>
