<div class="row">
  <div class="col-md-2 text-white bg-dark side-menu mr-0">
      <div class="nav flex-column nav-pills">
          <a class="nav-link" [routerLink]="['resume']">Home</a>
          <a class="nav-link" [routerLink]="['courses']">Cursos</a>
          <a class="nav-link" [routerLink]="['messages']">Mensajes 
            <span class="badge badge-info" *ngIf="messagesNumber > 0">{{ messagesNumber }}</span>
          </a>
          <a class="nav-link" [routerLink]="['settings']">Configuración</a>
        </div>
  </div>
  <div class="col-md-10 info ml-0 p-0">
    <router-outlet></router-outlet>
  </div>
 
</div>
